// $colour-primary: #15DEA5;
// $colour-secondary: #001534;
// $colour-accent: #D6FFF5;
// $colour-white: #fff;
// $colour-invalid: #DB464B;

// $heading-shadow-size: .55rem;
// $layout-margin: 6rem;
// $grid-gutter: $layout-margin * .25;

$main-color: #e5e5e5;
$secondary-color: white;
$main-text-color: #666;
$secondary-text-color: #444;
$title-text-color: #222;
$card-color: #ccc;
$link-hover1-color: palevioletred;
$link-hover2-color: #000;
