.bg-light {
  background-color: $secondary-color !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .container {
    @include tablet {
      max-width: 90%;
    }

    @include desktop {
      max-width: 93%;
    }

    .col-md-4 {
      padding-right: 3rem;
      padding-left: 3rem;
      @include tablet {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include desktop {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      .card-img-top {
        width: 100%;
        height: 40vh;
        object-fit: cover;
      }

      .card-body {
        background-color: $card-color;
        padding: 0 0 0.7rem 0;

        .card-inner {
          position: relative;
          left: 0.7rem;
          color: $main-text-color;
          background-color: $main-color;
          padding: 1.3rem 1.5rem 0.8rem;
          display: flex;
          flex-direction: column;

          .card-title {
            color: $title-text-color;
          }

          .card-text {
            margin-top: 1rem;
            height: 7rem;
          }

          .card-link {
            background-color: $card-color;
            color: $secondary-text-color;
            align-self: flex-end;
            font-size: 1.4rem;
          }

          .card-link:hover {
            background-color: $link-hover2-color;
            color: $secondary-color;
          }
        }
      }
    }
  }
}
