:root {
  font-size: 62.5%;
}
:root body {
  margin: 0;
  font-size: 1.6rem;
}

:root {
  --main-color: #e5e5e5;
  --secondary-color: white;
  --main-text-color: #666;
  --secondary-text-color: #444;
  --card-color: #ccc;
  --link-hover-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Candara", sans-serif;
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--main-text-color);
  padding: 1rem 2rem;
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

p {
  font-size: 1.4rem;
}

//Mixins
$tablet: 700px;
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

//LAYOUT
.app {
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
.header {
  flex-basis: 60rem;
  background-image: url(./assets/hero-banner.jpg);
}

.main {
  flex-basis: auto;
}

.home {
  flex-basis: auto;
}

//HEADER COMPONENT

.header {
  height: 100%;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-logo {
    margin: 5rem;
    align-self: flex-start;

    .top-logo-img {
      width: 12rem;
      height: 4.7rem;
    }
  }
  .top-logo:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}

//TITLE COMPONENT

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 4rem;
  .title-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .title-logo {
      width: 12rem;
      height: 4.7rem;
      margin-bottom: 1rem;
    }

    .title-text {
      font-size: 4rem;
      margin: 0;
      padding-left: 1.5rem;
      font-weight: bold;
    }
  }

  .underline {
    width: 30rem;
    border: 1px solid var(--secondary-color);
  }
}

//SEARCH COMPONENT

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-text {
    display: block;
    text-align: center;
    font-size: 2.2rem;
    padding: 4rem 0;
    margin: 0 auto;
    color: var(--main-color);

    @include tablet {
      padding: 3rem 0;
    }

    @include desktop {
      padding: 2rem 0;
    }
  }

  .form-group {
    width: 33rem;
    position: relative;
    color: var(--main-text-color);

    @include tablet {
      width: 50rem;
    }

    @include desktop {
      width: 70rem;
    }

    .fa {
      font-size: 2.3rem;
    }

    .form-control {
      height: 5rem;
      border-radius: 0.5rem;
      font-size: 2.2rem;

      @include tablet {
        height: 5.5rem;
      }

      @include desktop {
        height: 6rem;
      }
    }
  }

  .has-search .form-control {
    padding-left: 4rem;
    background-color: var(--main-color);

    @include tablet {
      padding-left: 8rem;
    }

    @include desktop {
      padding-left: 11rem;
    }
  }

  .has-search .form-control-feedback {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    z-index: 2;
    display: block;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;

    @include tablet {
      left: 6%;
    }

    @include desktop {
      left: 8%;
    }
  }
}

// MAIN COMPONENT

//SHIPS COMPONENT

.bg-light {
  background-color: var(--secondary-color) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .container {
    @include tablet {
      max-width: 90%;
    }

    @include desktop {
      max-width: 93%;
    }

    .col-md-4 {
      padding-right: 3rem;
      padding-left: 3rem;
      @include tablet {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include desktop {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      .card-img-top {
        width: 100%;
        height: 40vh;
        object-fit: cover;
      }

      .card-body {
        background-color: var(--card-color);
        padding: 0 0 0.7rem 0;

        .card-inner {
          position: relative;
          left: 0.7rem;
          color: var(--main-text-color);
          background-color: var(--main-color);
          padding: 1.3rem 1.5rem 0.8rem;
          display: flex;
          flex-direction: column;

          .card-title {
            color: var(--secondary-text-color);
          }

          .card-text {
            height: 7rem;
          }

          .card-link {
            background-color: var(--card-color);
            color: var(--secondary-text-color);
            align-self: flex-end;
            font-size: 1.4rem;
          }

          .card-link:hover {
            background-color: var(--link-hover-color);
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}

//PLANETS COMPONENT

.carousel {
  .carousel-inner {
    padding: 0 5rem 5rem;

    .card {
      min-height: 35rem;
    }

    .mb-4 {
      margin-bottom: 3rem !important;
    }
  }
}

.carousel-indicators li {
  width: 2rem;
  height: 2rem;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
}

.carousel-caption {
  padding-bottom: 0;
}

.viewMoreBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 5rem;

  .btn {
    width: 33%;
    border: 2px solid;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}

//PEOPLE COMPONENT
.col-md-6 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  .col-auto {
    flex: 2 0 auto;
    height: 40rem;
  }

  .col {
    flex-grow: 1;
    background-color: var(--main-color);
  }

  .p-4 {
    padding: 5rem 1.5rem !important;
    .mb-2 {
      margin-bottom: 0 !important;
    }

    .text-success {
      font-size: 2rem;
      color: var(--secondary-text-color) !important;
    }

    .mb-1 {
      margin-bottom: 3rem !important;
    }

    .mb-auto {
      color: var(--main-text-color);
      .stretched-link {
        font-size: 1.5rem;
        text-decoration: underline;
        display: initial;
        padding: 0;
        color: var(--secondary-text-color) !important;
        font-weight: bolder;
      }
    }
  }
}

//SPINNER COMPONENT
.loader {
  border: 0.5rem solid var(--main-color);
  border-top: 0.5rem solid palevioletred;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 0.8s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
