*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Candara", sans-serif;
  font-size: 1.6rem;
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #666;
  padding: 1rem 2rem;
}

a:hover {
  text-decoration: none;
  color: white;
}

p {
  font-size: 1.4rem;
}

.viewMoreBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 5rem;
}

.viewMoreBtn .btn {
  width: 33%;
  border: 2px solid;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.pagination-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6rem 1rem 5rem;
}

.pagination-cover .page-number {
  font-size: 3rem;
  color: #cccccc;
  padding: 0.5rem 2rem;
}

.pagination-cover .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
}

.pagination-cover .pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  border-right: 1px solid #ccc;
}

.pagination-cover .pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  border-left: 1px solid #ccc;
}

.pagination-cover .pagination .page-link {
  padding: 1rem 2.5rem 1.5rem;
  margin-left: 0;
  line-height: 0.8;
  color: #999999;
  border: 2px solid #ccc;
  font-weight: 600;
}

.pagination-cover .pagination .page-link:hover {
  color: #000;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .search-text {
  display: block;
  text-align: center;
  font-size: 2.2rem;
  padding: 4rem 0;
  margin: 0 auto;
  color: #e5e5e5;
}

@media (min-width: 700px) {
  .search .search-text {
    padding: 3rem 0;
  }
}

@media (min-width: 1024px) {
  .search .search-text {
    padding: 2rem 0;
  }
}

.search .form-group {
  width: 33rem;
  position: relative;
  color: #666;
}

@media (min-width: 700px) {
  .search .form-group {
    width: 50rem;
  }
}

@media (min-width: 1024px) {
  .search .form-group {
    width: 70rem;
  }
}

.search .form-group .fa {
  font-size: 2.3rem;
}

.search .form-group .form-control {
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 2.2rem;
}

@media (min-width: 700px) {
  .search .form-group .form-control {
    height: 5.5rem;
  }
}

@media (min-width: 1024px) {
  .search .form-group .form-control {
    height: 6rem;
  }
}

.search .has-search .form-control {
  padding-left: 4rem;
  background-color: #e5e5e5;
}

@media (min-width: 700px) {
  .search .has-search .form-control {
    padding-left: 8rem;
  }
}

@media (min-width: 1024px) {
  .search .has-search .form-control {
    padding-left: 11rem;
  }
}

.search .has-search .form-control-feedback {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2%;
  z-index: 2;
  display: block;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}

@media (min-width: 700px) {
  .search .has-search .form-control-feedback {
    left: 6%;
  }
}

@media (min-width: 1024px) {
  .search .has-search .form-control-feedback {
    left: 8%;
  }
}

.spinner {
  border: 0.5rem solid #e5e5e5;
  border-top: 0.5rem solid palevioletred;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
  margin: 2rem auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 5rem;
}

.title .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.title .title-head .title-logo {
  width: 12rem;
  height: 4.7rem;
  margin-bottom: 1rem;
}

.title .title-head .title-text {
  font-size: 4rem;
  margin: 0;
  padding-left: 1.5rem;
  font-weight: bold;
  color: #222;
}

.title .title-head .title-text .title-text:hover {
  color: palevioletred;
}

.title .underline {
  width: 30rem;
  border: 1px solid white;
}

.app {
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  -ms-flex-preferred-size: 60rem;
      flex-basis: 60rem;
  background-image: url(./assets/hero-banner.jpg);
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-logo {
  margin: 5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header .top-logo__img {
  width: 12rem;
  height: 4.7rem;
}

.header .top-logo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer {
  -ms-flex-preferred-size: 7rem;
      flex-basis: 7rem;
  background-color: #ccc;
  border-top: 0.1rem solid #888;
}

.home {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.bg-light {
  background-color: white !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (min-width: 700px) {
  .bg-light .container {
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .bg-light .container {
    max-width: 93%;
  }
}

.bg-light .container .col-md-4 {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media (min-width: 700px) {
  .bg-light .container .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .bg-light .container .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.bg-light .container .col-md-4 .card-img-top {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-light .container .col-md-4 .card-body {
  background-color: #ccc;
  padding: 0 0 0.7rem 0;
}

.bg-light .container .col-md-4 .card-body .card-inner {
  position: relative;
  left: 0.7rem;
  color: #666;
  background-color: #e5e5e5;
  padding: 1.3rem 1.5rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-light .container .col-md-4 .card-body .card-inner .card-title {
  color: #222;
}

.bg-light .container .col-md-4 .card-body .card-inner .card-text {
  margin-top: 1rem;
  height: 7rem;
}

.bg-light .container .col-md-4 .card-body .card-inner .card-link {
  background-color: #ccc;
  color: #444;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.4rem;
}

.bg-light .container .col-md-4 .card-body .card-inner .card-link:hover {
  background-color: #000;
  color: white;
}

.carousel .carousel-inner {
  padding: 0 5rem 5rem;
}

.carousel .carousel-inner .card {
  min-height: 35rem;
}

.carousel .carousel-inner .mb-4 {
  margin-bottom: 3rem !important;
}

.carousel .carousel-indicators li {
  width: 2rem;
  height: 2rem;
  background-color: #444;
  border-radius: 50%;
}

.carousel .carousel-caption {
  padding-bottom: 0;
}

.col-md-6 {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.col-md-6 .col-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
  height: 40rem;
}

.col-md-6 .col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #e5e5e5;
}

.col-md-6 .p-4 {
  padding: 5rem 1.5rem !important;
}

.col-md-6 .p-4 .mb-2 {
  margin-bottom: 0 !important;
}

.col-md-6 .p-4 .text-success {
  font-size: 2rem;
  color: #444 !important;
}

.col-md-6 .p-4 .mb-1 {
  margin-bottom: 3rem !important;
}

.col-md-6 .p-4 .mb-auto {
  color: #666;
}

.col-md-6 .p-4 .mb-auto .stretched-link {
  font-size: 1.5rem;
  text-decoration: underline;
  display: initial;
  padding: 0;
  color: #444 !important;
  font-weight: bolder;
}
/*# sourceMappingURL=App.css.map */